<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semesterproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".select_vehicle_files.TrimSelection"
            android:label="@string/title_activity_trim_selection"
            android:parentActivityName=".select_vehicle_files.ModelSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.semesterproject.MainActivity" />
        </activity>
        <activity
            android:name=".select_vehicle_files.MakeSelection"
            android:label="@string/title_activity_make_selection"
            android:parentActivityName=".select_vehicle_files.ModelSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.semesterproject.MainActivity" />
        </activity>
        <activity
            android:name=".select_vehicle_files.ModelSelection"
            android:label="@string/title_activity_model_selection"
            android:parentActivityName=".select_vehicle_files.MakeSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.semesterproject.MainActivity" />
        </activity>
        <activity
            android:name=".select_vehicle_files.YearSelection"
            android:label="@string/title_activity_year_selection"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.semesterproject.MainActivity" />
        </activity>
        <activity
            android:name=".SelectVehicle"
            android:label="@string/title_activity_select_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".readyMap"
            android:label="@string/title_activity_ready_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>